<div id="<%= dom_id festival %>">
  <p>
    <strong>Name:</strong>
    <%= festival.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= festival.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= festival.address %>
  </p>

</div>
